<h1>Add a show</h1>
<p>Before adding an event, you need to know:</p>
<ul class="list-group">
  <li class="list-group-item">Title</li>
  <li class="list-group-item">Date</li>

  <li class="list-group-item">Time</li>
  <li class="list-group-item">Address</li>
  <li class="list-group-item">Description</li>
  <li class="list-group-item">URL</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <p></p>
  </div>
</div>
